<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

<!-- Database Configuration -->
	<!-- <import resource="../database/DataSource.xml"/> -->
	<!-- <import resource="../database/Hibernate.xml"/> -->

	<!-- <context:property-placeholder location="classpath:db.properties"/> -->
	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />

	<!-- Auto scan the components -->
	<context:component-scan base-package="com.bus" />

	<bean id="hrBean" class="com.bus.services.HRBean"></bean>
	<bean id="accountBean" class="com.bus.services.AccountBean"></bean>
	<bean id="scoreBean" class="com.bus.services.ScoreBean"></bean>
	<bean id="empApplicationBean" class="com.bus.services.EmpApplicationBean"></bean>
	<bean id="commonBean" class="com.bus.services.CommonBean"></bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="shundebuspersistenceunit" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
</beans>




